@mixin text($fontSize, $fontColor, $fontWeight, $lineHeight, $letterSpacing) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin background($name) {
    background: url("../App/#{$name}.jpg") no-repeat fixed;
}

%shadow {
  -webkit-box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    5px 5px 18px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         5px 5px 18px 0px rgba(50, 50, 50, 0.75);
}

%glassEffect {
  background-color: rgba(227, 242, 248, 0.3);
  backdrop-filter: blur(10px);
  @extend %shadow;
}

%card {
  border-radius: 30px;
  @extend %glassEffect;
}

@media only screen and (max-width: 700px) {
    main {
        width: 100% !important;   
        #search-bar {
          width: 90% !important;
        }
        #weather-display {   
          margin-top: 60px !important;
          h2 {
            margin: 50px 0 !important;
          }       
          #current-forecast {
            width: 100% !important;
            margin: 0 !important;
            padding-left: 30% !important;
            padding-right: 30% !important;
          }   

          #hourly-forecast {
            .hourly-list {
              li {
                width: 500px !important;
                img {
                    width: 70px;
                }
              }
            }
          }
        
          #daily-forecast {
            .daily-list {
              li {
                width: 100% !important;
                img {
                  width: 70px !important;
                }
              }
            } 
          }
        }
    }
}

@media only screen and (max-width: 550px) {
  #loading-message {
    font-size: 18px !important;
  }
  li {
    padding: 0 !important;
    .myDay {
      grid-column: 1 / span 2 !important;
      justify-self: start;
    }
  }
}

@media only screen and (max-width: 420px) {
    main {
        width: 100% !important;   
        padding: 20px !important;
        #search-bar {
            width: 100% !important;
          #search-btn {
            padding: 12px;
          }
        }

        #weather-display {
        
            #current-forecast {
              padding-left: 20% !important;
              padding-right: 20% !important;
              .small {
                @include text(15px, white, 400, 24px, 0.8px);
              }
              .location {
                @include text(20px, white, 800, 35px, 0.6px);
              }
              .weather-overview {
                .extra-large {
                  @include text(40px, white, 600, 50px, 0.3px);
                }
              }
            }
        
            h2 {
                display: none;
            }
        
            #hourly-forecast {
              
              .hourly-list {
                width: 100% !important;
                li {
                  padding: 10px 13px 10px 0 !important;;
                    img {
                        width: 45px;
                        height: auto;
                    }
                    .descript {
                        display: none;
                    }
                }
              }
            }
        
            #daily-forecast {
              .daily-list {
                width: 100%;
                li {
                  width: 100% !important;
                  img {
                    width: 50px !important;
                  }
                }
              } 
            }
          }
    }
}