@mixin text($fontSize, $fontColor, $fontWeight, $lineHeight, $letterSpacing) {
    font-size: $fontSize;
    color: $fontColor;
    font-weight: $fontWeight;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
}

@mixin background($name) {
    background: url("../App/#{$name}.jpg") no-repeat fixed;
}