.App {
  text-align: center;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.day {
  background: url("../App/day.jpg") no-repeat fixed;
}

.night {
  background: url("../App/night.jpg") no-repeat fixed;
}

.cloudy {
  background: url("../App/cloudy.jpg") no-repeat fixed;
}

.clear {
  background: url("../App/clear.jpg") no-repeat fixed;
}

.rainy {
  background: url("../App/rainy.jpg") no-repeat fixed;
}

main {
  padding: 40px;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
  background: url("../App/general.jpg") no-repeat fixed;
}

main #search-bar {
  margin: 30px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #search-bar .react-select-container {
  width: 400px;
  display: inline-block;
}

main #search-bar #search-btn {
  padding: 12px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main #search-bar #search-btn:hover, main #search-bar #search-btn :focus {
  background-color: #e2e0e0;
  color: tomato;
}

main #weather-display #loading-message {
  font-size: 25px;
  color: white;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: center;
}

main #weather-display #current-forecast {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}

main #weather-display #current-forecast .small {
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}

main #weather-display #current-forecast .location {
  font-size: 25px;
  color: white;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0.6px;
}

main #weather-display #current-forecast .weather-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main #weather-display #current-forecast .weather-overview .extra-large {
  font-size: 45px;
  color: white;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.3px;
}

main #weather-display #current-forecast .weather-description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main #weather-display h2 {
  margin: 50px 20px;
  font-size: 35px;
  color: white;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
}

main #weather-display #hourly-forecast {
  margin: 40px 0;
}

main #weather-display #hourly-forecast .hourly-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
}

main #weather-display #hourly-forecast .hourly-list li {
  padding: 10px 10px 30px 0;
  text-align: center;
}

main #weather-display #hourly-forecast .hourly-list li .small {
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

main #weather-display #hourly-forecast .hourly-list li .temp {
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

main #weather-display #daily-forecast {
  margin: 40px 0;
}

main #weather-display #daily-forecast .daily-list {
  list-style-type: none;
}

main #weather-display #daily-forecast .daily-list li {
  width: 500px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

main #weather-display #daily-forecast .daily-list li .myDay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

main #weather-display #daily-forecast .daily-list li img {
  width: 90px;
  height: auto;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

main #weather-display #daily-forecast .daily-list li .temp {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/*# sourceMappingURL=App.css.map */