@import "../../Utilities/helpers";

body, html {
  max-width: 1900px;
  overflow: hidden;
  background-color: rgb(224, 224, 224);
}

.App {
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

.day {
  @include background(day);
}
.night {
  @include background(night);
}
.cloudy {
  @include background(cloudy);
}
.clear {
  @include background(clear);
}
.rainy {
  @include background(rainy);
}

main {
  padding: 40px;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
  background-color: rgb(31, 31, 31);
  @include background(general);

  #search-bar {
    margin: 30px auto;
    width: 500px;
    display: flex;
    justify-content: center;
    .react-select-container {
      width: 90%;
      display: inline-block; 
      margin-right: 5px; 
      padding: 0;
    }
    #search-btn {
      padding: 12px;
      margin-left: 5px;
      border: none;
      border-radius: 15px;
      background-color: rgba(227, 242, 248, 0.6);
      color: rgb(0, 0, 53);
      @extend %shadow;
      cursor: pointer;
      &:hover, :focus, :active {
        background-color: rgba(255, 255, 255, 0.89);
        border: none;
      }
    }
  }

  #weather-display {
    #loading-message {
      @include text(25px, white, 400, 30px, 0.8px);
      text-align: center;
    }

    #current-forecast {
      margin: 90px auto;
      width: fit-content;
      position: relative;
      padding: 40px 200px;
      @extend %card;
      .small {
        @include text(15px, white, 400, 24px, 0.8px);
      }
      .location {
        @include text(25px, white, 800, 35px, 0.6px);
      }
      .weather-overview {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        .extra-large {
          @include text(45px, white, 600, 50px, 0.3px);
        }
      }
      .weather-description {
        width: fit-content;
        margin: 0 auto;
      }
    }

    h2 {
      margin: 100px 0 70px 0;
      @include text(35px, rgba(255, 255, 255, 0.719), 700, 24px, 0.8px);
      text-align: center;
    }

    #hourly-forecast {
      margin: 40px 0;
      .hourly-list {
        list-style-type: none;
        display: flex;
        overflow-y: scroll;
        width: 100%;
        padding: 40px 80px 40px 20px;
        -ms-overflow-style: none;
        scrollbar-width: none;
        cursor: pointer;
        @extend %card;
        &::-webkit-scrollbar {
          display: none;
        }
        li {
          padding: 10px 15px 10px 0;
          text-align: center;
          .small {
            @include text(15px, white, 400, 20px, 0.3px);
          }
          .temp {
            @include text(17px, white, 800, 24px, 0.3px);
          }
        }
      }
    }

    #daily-forecast {
      margin: 40px 0;
      .daily-list {
        list-style-type: none;
        @extend %card;
        padding: 30px;
        li {
          width: 600px;
          margin: 0 auto;
          display: grid;
          padding:  0 60px;
          grid-template-columns: repeat(12, 1fr);       
          .myDay {
            grid-column: 1 / span 4;
            align-self: center;
            @include text(17px, white, 800, 24px, 0.3px);
          }
          img {
            width: 90px;
            height: auto;
            grid-column: 5 / span 4;
            justify-self: center;
          }
          .temp {
            grid-column: 9 / span 4;
            justify-self: end;
            align-self: center;
            @include text(17px, white, 800, 24px, 0.3px);
          }
        }
      } 
    }
  }
}




