main #weather-display #current-forecast, main #weather-display #hourly-forecast .hourly-list, main #weather-display #daily-forecast .daily-list, main #search-bar #search-btn {
  -webkit-box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.75);
}

main #weather-display #current-forecast, main #weather-display #hourly-forecast .hourly-list, main #weather-display #daily-forecast .daily-list {
  background-color: rgba(227, 242, 248, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

main #weather-display #current-forecast, main #weather-display #hourly-forecast .hourly-list, main #weather-display #daily-forecast .daily-list {
  border-radius: 30px;
}

@media only screen and (max-width: 700px) {
  main {
    width: 100% !important;
  }
  main #search-bar {
    width: 90% !important;
  }
  main #weather-display {
    margin-top: 60px !important;
  }
  main #weather-display h2 {
    margin: 50px 0 !important;
  }
  main #weather-display #current-forecast {
    width: 100% !important;
    margin: 0 !important;
    padding-left: 30% !important;
    padding-right: 30% !important;
  }
  main #weather-display #hourly-forecast .hourly-list li {
    width: 500px !important;
  }
  main #weather-display #hourly-forecast .hourly-list li img {
    width: 70px;
  }
  main #weather-display #daily-forecast .daily-list li {
    width: 100% !important;
  }
  main #weather-display #daily-forecast .daily-list li img {
    width: 70px !important;
  }
}

@media only screen and (max-width: 550px) {
  li {
    padding: 0 !important;
  }
  li .myDay {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1 / span 2 !important;
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

@media only screen and (max-width: 420px) {
  main {
    width: 100% !important;
    padding: 20px !important;
  }
  main #search-bar {
    width: 100% !important;
  }
  main #search-bar #search-btn {
    padding: 12px;
  }
  main #weather-display #current-forecast {
    padding-left: 20% !important;
    padding-right: 20% !important;
  }
  main #weather-display #current-forecast .small {
    font-size: 15px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.8px;
  }
  main #weather-display #current-forecast .location {
    font-size: 20px;
    color: white;
    font-weight: 800;
    line-height: 35px;
    letter-spacing: 0.6px;
  }
  main #weather-display #current-forecast .weather-overview .extra-large {
    font-size: 40px;
    color: white;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0.3px;
  }
  main #weather-display h2 {
    display: none;
  }
  main #weather-display #hourly-forecast .hourly-list {
    width: 100% !important;
  }
  main #weather-display #hourly-forecast .hourly-list li {
    padding: 10px 13px 10px 0 !important;
  }
  main #weather-display #hourly-forecast .hourly-list li img {
    width: 45px;
    height: auto;
  }
  main #weather-display #hourly-forecast .hourly-list li .descript {
    display: none;
  }
  main #weather-display #daily-forecast .daily-list {
    width: 100%;
  }
  main #weather-display #daily-forecast .daily-list li {
    width: 100% !important;
  }
  main #weather-display #daily-forecast .daily-list li img {
    width: 50px !important;
  }
}

body, html {
  max-width: 1900px;
  overflow: hidden;
}

.App {
  text-align: center;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.day {
  background: url("../App/day.jpg") no-repeat fixed;
}

.night {
  background: url("../App/night.jpg") no-repeat fixed;
}

.cloudy {
  background: url("../App/cloudy.jpg") no-repeat fixed;
}

.clear {
  background: url("../App/clear.jpg") no-repeat fixed;
}

.rainy {
  background: url("../App/rainy.jpg") no-repeat fixed;
}

main {
  padding: 40px;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
  background-color: #1f1f1f;
}

main #search-bar {
  margin: 30px auto;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main #search-bar .react-select-container {
  width: 90%;
  display: inline-block;
  margin-right: 5px;
  padding: 0;
}

main #search-bar #search-btn {
  padding: 12px;
  margin-left: 5px;
  border: none;
  border-radius: 15px;
  background-color: rgba(227, 242, 248, 0.6);
  color: #000035;
  cursor: pointer;
}

main #search-bar #search-btn:hover, main #search-bar #search-btn :focus {
  background-color: rgba(255, 255, 255, 0.89);
}

main #weather-display #loading-message {
  font-size: 25px;
  color: white;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.8px;
  text-align: center;
}

main #weather-display #current-forecast {
  margin: 90px auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  padding: 40px 200px;
}

main #weather-display #current-forecast .small {
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.8px;
}

main #weather-display #current-forecast .location {
  font-size: 25px;
  color: white;
  font-weight: 800;
  line-height: 35px;
  letter-spacing: 0.6px;
}

main #weather-display #current-forecast .weather-overview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main #weather-display #current-forecast .weather-overview .extra-large {
  font-size: 45px;
  color: white;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: 0.3px;
}

main #weather-display #current-forecast .weather-description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

main #weather-display h2 {
  margin: 100px 0 70px 0;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.719);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.8px;
  text-align: center;
}

main #weather-display #hourly-forecast {
  margin: 40px 0;
}

main #weather-display #hourly-forecast .hourly-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: scroll;
  width: 100%;
  padding: 40px 80px 40px 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  cursor: pointer;
}

main #weather-display #hourly-forecast .hourly-list::-webkit-scrollbar {
  display: none;
}

main #weather-display #hourly-forecast .hourly-list li {
  padding: 10px 15px 10px 0;
  text-align: center;
}

main #weather-display #hourly-forecast .hourly-list li .small {
  font-size: 15px;
  color: white;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;
}

main #weather-display #hourly-forecast .hourly-list li .temp {
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

main #weather-display #daily-forecast {
  margin: 40px 0;
}

main #weather-display #daily-forecast .daily-list {
  list-style-type: none;
  padding: 30px;
}

main #weather-display #daily-forecast .daily-list li {
  width: 600px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  padding: 0 60px;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

main #weather-display #daily-forecast .daily-list li .myDay {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / span 4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}

main #weather-display #daily-forecast .daily-list li img {
  width: 90px;
  height: auto;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  -ms-grid-column-align: center;
      justify-self: center;
}

main #weather-display #daily-forecast .daily-list li .temp {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 17px;
  color: white;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/*# sourceMappingURL=App.css.map */