@import "../../Utilities/helpers";

body, html {
  max-width: 1900px;
  overflow: hidden;
}

.App {
  text-align: center;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;  
}

.day {
  @include background(day);
}
.night {
  @include background(night);
}
.cloudy {
  @include background(cloudy);
}
.clear {
  @include background(clear);
}
.rainy {
  @include background(rainy);
}

main {
  padding: 40px;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
  background: url("../App/general.jpg") no-repeat fixed;

  #search-bar {
    margin: 30px auto;
    width: 500px;
    display: flex;
    justify-content: center;
    .react-select-container {
      width: 90%;
      display: inline-block;  
    }
    #search-btn {
      padding: 12px;
      margin-left: 5px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      &:hover, :focus {
        background-color: rgb(226, 224, 224);
        color: tomato;
      }
    }
  }

  #weather-display {
    #loading-message {
      @include text(25px, white, 400, 30px, 0.8px);
      text-align: center;
    }

    #current-forecast {
      margin: auto;
      width: fit-content;
      position: relative;
      .small {
        @include text(15px, white, 400, 24px, 0.8px);
      }
      .location {
        @include text(25px, white, 800, 35px, 0.6px);
      }
      .weather-overview {
        display: flex;
        align-items: center;
        width: fit-content;
        margin: 0 auto;
        .extra-large {
          @include text(45px, white, 600, 50px, 0.3px);
        }
      }
      .weather-description {
        width: fit-content;
        margin: 0 auto;
      }
    }

    h2 {
      margin: 50px 20px;
      @include text(35px, white, 700, 24px, 0.8px);
    }

    #hourly-forecast {
      margin: 40px 0;
      .hourly-list {
        list-style-type: none;
        display: flex;
        overflow-y: scroll;
        width: 100%;
        li {
          padding: 10px 12.5px 30px 0;
          text-align: center;
          .small {
            @include text(15px, white, 400, 20px, 0.3px);
          }
          .temp {
            @include text(17px, white, 800, 24px, 0.3px);
          }
        }
      }
    }

    #daily-forecast {
      margin: 40px 0;
      .daily-list {
        list-style-type: none;
        li {
          width: 500px;
          margin: 0 auto;
          display: grid;
          grid-template-columns: repeat(12, 1fr);       
          .myDay {
            grid-column: 1 / span 4;
            align-self: center;
            @include text(17px, white, 800, 24px, 0.3px);
          }
          img {
            width: 90px;
            height: auto;
            grid-column: 5 / span 4;
            justify-self: center;
          }
          .temp {
            grid-column: 9 / span 4;
            justify-self: end;
            align-self: center;
            @include text(17px, white, 800, 24px, 0.3px);
          }
        }
      } 
    }
  }
}




